<app-row-box
  [boxNumber]="'a' + rowNumber"
  [bgColor]="color1"
  [locationBgColor]="color2"
></app-row-box>
<app-row-box
  [boxNumber]="'b' + rowNumber"
  [bgColor]="color2"
  [locationBgColor]="color1"
></app-row-box>
<app-row-box
  [boxNumber]="'c' + rowNumber"
  [bgColor]="color1"
  [locationBgColor]="color2"
></app-row-box>
<app-row-box
  [boxNumber]="'d' + rowNumber"
  [bgColor]="color2"
  [locationBgColor]="color1"
></app-row-box>
<app-row-box
  [boxNumber]="'e' + rowNumber"
  [bgColor]="color1"
  [locationBgColor]="color2"
></app-row-box>
<app-row-box
  [boxNumber]="'f' + rowNumber"
  [bgColor]="color2"
  [locationBgColor]="color1"
></app-row-box>
<app-row-box
  [boxNumber]="'g' + rowNumber"
  [bgColor]="color1"
  [locationBgColor]="color2"
></app-row-box>
<app-row-box
  [boxNumber]="'h' + rowNumber"
  [bgColor]="color2"
  [locationBgColor]="color1"
></app-row-box>
