<div class="chess-table">
  <app-table-row [rowNumber]="'8'" [rowType]="'whiteFirst'"></app-table-row>
  <app-table-row [rowNumber]="'7'" [rowType]="'blackFirst'"></app-table-row>
  <app-table-row [rowNumber]="'6'" [rowType]="'whiteFirst'"></app-table-row>
  <app-table-row [rowNumber]="'5'" [rowType]="'blackFirst'"></app-table-row>
  <app-table-row [rowNumber]="'4'" [rowType]="'whiteFirst'"></app-table-row>
  <app-table-row [rowNumber]="'3'" [rowType]="'blackFirst'"></app-table-row>
  <app-table-row [rowNumber]="'2'" [rowType]="'whiteFirst'"></app-table-row>
  <app-table-row [rowNumber]="'1'" [rowType]="'blackFirst'"></app-table-row>
</div>
