.chess-table {
  width: 480px;
  height: 480px;
  display: flex;
  flex-wrap: wrap;
}

app-table-row {
  width: 480px;
  height: 60px;
  display: flex;
}

/*
.black-box .piece-box-text {
  color: #e0e0e0;
}
.white-box .piece-box-text {
  color: #616161;
}

.piece-box.white-box {
  background-color: #e0e0e0;
}

.piece-box.black-box {
  background-color: #616161;
} */
